.category {
  padding: 15px;

  .fixed {
    position: fixed;
  }

  .col-md-3 {
    padding-right: 38px;
  }

  input.searchBox{
    background-color: #111113;
    border: medium none;
    color: #FFF;
    font-weight: 300;
    height: 35px;
    width: 100%;
    margin-top: 25px;
    padding: 0 15px;
    outline: medium none;
    border: 3px solid #FFF;
    color: #FFF;

    &::-webkit-input-placeholder {
      color: #FFF;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #FFF;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
      color: #FFF;
    }
    &:-ms-input-placeholder {
      color: #FFF;
    }
  }

  select {
    margin: 5px 0;
  }

  .contentCat {
    background-color: #303235;
    height: 100%;
    padding: 5px;

    .encartPub {
      background-color: #8959A8;
      width: 90%;
      margin:20px auto;
      display:block;
      height: 150px;
      box-sizing: border-box;
      box-shadow: 0 0 10px 3px #090D13;
      line-height: 150px;
    }
  }
}


#footerRights {
  background-color: #111113;
  color: white;
  border-top: 5px  solid #FFF;
  ul li {
    display: inline-block;
  }
}