@import 'variables';
@import 'reset';
@import 'bootstrap';
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);

body,html{
    height:100%;
    margin:0;
    font-size:14px;
    background-color: #111113;
    color:#fff;
}
*{
    box-sizing:inherit;
    font-family: 'Oswald', sans-serif !important;
    font-size:1rem;
}
img{
    height:auto;
    max-width:100%;
}

p{
    margin:10px 0;
}
h1, .h1{
    font-size:2.4rem;
    text-transform: uppercase;
    font-weight:bold;
}
h2, .h2{
    display: block;
    font-size:1.9rem;
    text-transform: uppercase;
    font-weight:400;
    position:relative;
    margin:5px 0;
}

.h1 {
    margin: 10px 0;
    padding: 8px 0;
    border-bottom: 3px solid #FFF;
    width: 100%;
    display: block;
}

.container{
    max-width:1900px;
    width:100%;
    box-sizing:border-box;
}

.row{
    margin:0 !important;
}


#content{
    min-height:calc(100vh - 120px);
    margin-top:50px;
}

input[type='text']{
    color:#111113;
}

footer a, footer li{
    color:#FFF;
    font-size:1.5rem;
    text-transform:uppercase;
    &:hover,&:focus{
        color:#fff;
    }


}

.col-md-1, .col-md-10, .col-md-11, .col-md-12,
.col-md-2, .col-md-3, .col-md-4, .col-md-5,
.col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@import 'solene';
@import 'thibault';
