@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*====================================
=            glyphicon ANIMATION       =
=======================================*/
  /* just apply some height and width to the wrapper.
  .productinfo {
    width:400px;
    height:400px;
    overflow: auto;
  }
  */ }

body .glyphicon-refresh-animate {
  -moz-animation: spin-moz 0.7s infinite linear;
  -webkit-animation: spin-webkit 0.7s infinite linear;
  animation: spin .7s infinite linear; }

@-moz-keyframes spin-moz {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin-webkit {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg); }
  to {
    transform: scale(1) rotate(360deg); } }
body .pylos-logo a {
  color: #b4b1ab;
  font-family: abel;
  font-size: 20px;
  position: relative;
  top: 10px;
  font-weight: bold; }

body .pylos-logo a span {
  color: #fe980f; }

body .breadcrumb a {
  color: #f49a17; }

body .product-price {
  text-align: right;
  font-weight: 400;
  line-height: 25px; }

body .regular-price {
  margin-bottom: 20px;
  margin-left: 4px;
  color: #f49a17; }

body .name {
  margin-top: 0;
  color: #696763;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  margin-bottom: 17px; }

body .social-networks.social-icons.nav.navbar-nav > ul > li {
  margin-right: 0; }

body .product-image-wrapper {
  border: 3px solid #f7f7f0; }

body .item-cart a img,
body .media-left a img {
  -webkit-transition: all 1s ease;
  /* Safari and Chrome */
  -moz-transition: all 1s ease;
  /* Firefox */
  -o-transition: all 1s ease;
  /* IE 9 */
  -ms-transition: all 1s ease;
  /* Opera */
  transition: all 1s ease;
  max-width: 100%; }

body .item-cart a:hover img,
body .media-left a:hover img {
  -webkit-transform: scale(1.13);
  /* Safari and Chrome */
  -moz-transform: scale(1.13);
  /* Firefox */
  -ms-transform: scale(1.13);
  /* IE 9 */
  -o-transform: scale(1.13);
  /* Opera */
  transform: scale(1.13);
  opacity: 0.6; }

body, html {
  height: 100%;
  margin: 0;
  font-size: 14px;
  background-color: #111113;
  color: #fff; }

* {
  box-sizing: inherit;
  font-family: 'Oswald', sans-serif !important;
  font-size: 1rem; }

img {
  height: auto;
  max-width: 100%; }

h1, .h1 {
  font-size: 1.42857 rem;
  text-transform: uppercase; }

.h1 {
  margin: 10px 0;
  padding: 8px 0;
  border-bottom: 3px solid #FFF;
  width: 100%;
  display: block; }

.container {
  max-width: 1900px;
  width: 100%;
  box-sizing: border-box; }

.row {
  margin: 0 !important; }

#content {
  min-height: calc(100vh - 120px);
  margin-top: 50px; }

.col-md-1, .col-md-10, .col-md-11, .col-md-12,
.col-md-2, .col-md-3, .col-md-4, .col-md-5,
.col-md-6, .col-md-7, .col-md-8, .col-md-9 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#category {
  padding: 15px; }
  #category .fixed {
    position: fixed; }
  #category .col-md-3 {
    padding-right: 38px; }
  #category input.searchBox {
    background-color: #111113;
    border: medium none;
    color: #FFF;
    font-weight: 300;
    height: 35px;
    width: 100%;
    margin-top: 22px;
    padding: 0 15px;
    outline: medium none;
    border: 3px solid #FFF;
    color: #FFF; }
    #category input.searchBox::-webkit-input-placeholder {
      color: #FFF; }
    #category input.searchBox:-moz-placeholder {
      /* Firefox 18- */
      color: #FFF; }
    #category input.searchBox::-moz-placeholder {
      /* Firefox 19+ */
      color: #FFF; }
    #category input.searchBox:-ms-input-placeholder {
      color: #FFF; }
  #category select {
    margin: 5px 0;
    color: #111113; }
  #category #contentCat {
    background-color: #303235;
    height: 100%;
    padding: 2px 5px; }
    #category #contentCat #encartPub {
      background-color: #8959A8;
      width: 90%;
      margin: 20px auto;
      display: block;
      height: 150px;
      box-sizing: border-box;
      box-shadow: 0 0 10px 3px #090D13;
      line-height: 150px;
      text-align: center; }
  #category #headColCat {
    background: #D7D7D9;
    height: 25px;
    line-height: 25px;
    color: #111113; }
  #category #contentColCat {
    clear: both; }
    #category #contentColCat > div {
      min-height: 65px;
      position: relative;
      background: #111113;
      margin: 3px 0;
      overflow: hidden; }
      #category #contentColCat > div.blocSon .uploaderSon, #category #contentColCat > div.blocSon .dureeSon {
        line-height: 65px; }
      #category #contentColCat > div.blocSon .dureeSon {
        text-align: right; }
      #category #contentColCat > div.blocSon .fondCouleur {
        position: absolute;
        top: 0;
        left: 0;
        transition: all .4s linear;
        height: 100%; }
      #category #contentColCat > div.blocSon .titreSon {
        display: table;
        height: 65px; }
        #category #contentColCat > div.blocSon .titreSon .blocIMG {
          width: 47px;
          height: 60px;
          display: table-cell;
          vertical-align: middle; }
          #category #contentColCat > div.blocSon .titreSon .blocIMG img {
            display: inline-block;
            margin-top: 2px;
            width: 60px;
            height: 60px;
            max-width: 60px;
            margin-left: -13px; }
        #category #contentColCat > div.blocSon .titreSon .titreMusique {
          display: table-cell;
          padding-left: 10px;
          box-sizing: border-box;
          vertical-align: middle; }
        #category #contentColCat > div.blocSon .titreSon .col-md-4, #category #contentColCat > div.blocSon .titreSon .col-md-8, #category #contentColCat > div.blocSon .titreSon .col-xs-4, #category #contentColCat > div.blocSon .titreSon .col-xs-8 {
          padding: 0; }
      #category #contentColCat > div.blocSon:hover div.fondCouleur {
        width: 100%; }
      #category #contentColCat > div.art div:first-child {
        background-color: #c12aad; }
      #category #contentColCat > div.science div:first-child {
        background-color: #039313; }
      #category #contentColCat > div.robotique div:first-child {
        background-color: #6f30bf; }
      #category #contentColCat > div.esport div:first-child {
        background-color: #2e3192; }
      #category #contentColCat > div.jeux div:first-child {
        background-color: #c53605; }
      #category #contentColCat > div.informatique div:first-child {
        background-color: #fc7e14; }

#registerPage .fos_user_registration_register {
  margin-top: 25px; }
  #registerPage .fos_user_registration_register div {
    text-align: center; }
  #registerPage .fos_user_registration_register label {
    display: none; }
  #registerPage .fos_user_registration_register select {
    width: calc(100% / 3.3);
    display: inline-block;
    margin: 0 3px 15px 0; }
#registerPage input[type="text"],
#registerPage input[type="password"],
#registerPage input[type="email"] {
  width: 92%;
  margin: 0 0 15px -5px;
  padding: 0px 5px; }
#registerPage input[type="text"],
#registerPage input[type="password"],
#registerPage input[type="email"],
#registerPage select {
  background: #F0F0E9;
  border: none;
  color: #111113;
  height: 40px; }

#loginPage form {
  text-align: center; }
  #loginPage form input[type="text"],
  #loginPage form input[type="password"] {
    width: 40%;
    margin: 0 auto 15px;
    padding: 0px 5px;
    background: #F0F0E9;
    border: none;
    border-radius: 0;
    color: #111113;
    height: 40px; }
#loginPage [type="checkbox"]:not(:checked),
#loginPage [type="checkbox"]:checked {
  position: absolute;
  left: -9999px; }
#loginPage [type="checkbox"]:not(:checked) + label,
#loginPage [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  line-height: 23px; }
#loginPage [type="checkbox"]:not(:checked) + label:before,
#loginPage [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 20px;
  height: 20px;
  border: 3px solid #FFF;
  background: #111113; }
#loginPage [type="checkbox"]:not(:checked) + label:after,
#loginPage [type="checkbox"]:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c";
  position: absolute;
  top: 1px;
  left: 3px;
  font-size: 14px;
  color: #FFF;
  transition: all .2s; }
#loginPage [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0); }
#loginPage [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1); }
#loginPage [type="checkbox"]:disabled:checked + label:after {
  color: #999; }

#registerPage .btn-success, #registerPage #_submit, #loginPage .btn-success, #loginPage #_submit {
  display: inline-block;
  height: 9vh;
  min-width: 30%;
  line-height: 5vh;
  box-sizing: border-box;
  border: 5px solid #fff;
  margin-top: 2vh;
  font-size: 3vh;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  transition: all .2s linear;
  border-radius: 0; }
  #registerPage .btn-success:hover, #registerPage #_submit:hover, #loginPage .btn-success:hover, #loginPage #_submit:hover {
    border-width: 1px;
    line-height: 6vh; }

#footerRights {
  background-color: #111113;
  color: white;
  border-top: 5px  solid #FFF; }
  #footerRights ul li {
    display: inline-block; }

@media (max-width: 992px) {
  #category .fixed {
    position: initial;
    padding-right: 18px;
    margin-bottom: 15px; } }
/*************************************************************/
/************************** MENU ***************************/
/*************************************************************/
#menuBurger {
  float: left; }

.header_top {
  background: #111113;
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0; }
  .header_top .blocBarres {
    width: 50px;
    position: relative;
    z-index: 50;
    text-align: center;
    height: 35px;
    margin-top: 5px;
    padding-top: 2px;
    padding-right: 10px;
    border-right: 1px solid #fff;
    box-sizing: content-box; }
    .header_top .blocBarres:hover {
      cursor: pointer; }
      .header_top .blocBarres:hover .blocCharge.blocChargemiddle {
        width: 80%; }
    .header_top .blocBarres .blocCharge {
      width: 80%;
      display: block;
      height: 5px;
      background: #fff;
      transition: all .2s linear;
      margin: 5px 10%;
      opacity: 1; }
      .header_top .blocBarres .blocCharge:first-child {
        margin-top: 5px; }
      .header_top .blocBarres .blocCharge.blocChargemiddle {
        width: 60%; }
    .header_top .blocBarres.menuOuvert .blocCharge {
      opacity: 0;
      width: 80%; }
      .header_top .blocBarres.menuOuvert .blocCharge:first-child {
        opacity: 1;
        transform: rotate(45deg);
        transform-origin: bottom left;
        margin: -1px 0 0; }
      .header_top .blocBarres.menuOuvert .blocCharge:last-child {
        opacity: 1;
        transform: rotate(-45deg);
        transform-origin: top left;
        margin: 15px 0 0; }
    .header_top .blocBarres.menuOuvert + nav.principal {
      opacity: 1;
      display: block; }
      .header_top .blocBarres.menuOuvert + nav.principal ul li, .header_top .blocBarres.menuOuvert + nav.principal ul li > div {
        height: 11.1111111111111111111111111111111111111111111111111111111111111vh;
        background-color: rgba(0, 0, 0, 0.9);
        float: none !important;
        margin: 0;
        padding: 0;
        position: relative; }
        .header_top .blocBarres.menuOuvert + nav.principal ul li.search_box, .header_top .blocBarres.menuOuvert + nav.principal ul li > div.search_box {
          background: transparent; }
        .header_top .blocBarres.menuOuvert + nav.principal ul li .fullBackground, .header_top .blocBarres.menuOuvert + nav.principal ul li > div .fullBackground {
          width: 0;
          height: 100%;
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          transition: all .4s linear;
          z-index: 1; }
          .header_top .blocBarres.menuOuvert + nav.principal ul li .fullBackground.gris, .header_top .blocBarres.menuOuvert + nav.principal ul li > div .fullBackground.gris {
            background: #303235; }
          .header_top .blocBarres.menuOuvert + nav.principal ul li .fullBackground.art, .header_top .blocBarres.menuOuvert + nav.principal ul li > div .fullBackground.art {
            background: #c12aad; }
          .header_top .blocBarres.menuOuvert + nav.principal ul li .fullBackground.science, .header_top .blocBarres.menuOuvert + nav.principal ul li > div .fullBackground.science {
            background: #039313; }
          .header_top .blocBarres.menuOuvert + nav.principal ul li .fullBackground.robotique, .header_top .blocBarres.menuOuvert + nav.principal ul li > div .fullBackground.robotique {
            background: #6f30bf; }
          .header_top .blocBarres.menuOuvert + nav.principal ul li .fullBackground.e-sport, .header_top .blocBarres.menuOuvert + nav.principal ul li > div .fullBackground.e-sport {
            background: #2e3192; }
          .header_top .blocBarres.menuOuvert + nav.principal ul li .fullBackground.jeux, .header_top .blocBarres.menuOuvert + nav.principal ul li > div .fullBackground.jeux {
            background: #c53605; }
          .header_top .blocBarres.menuOuvert + nav.principal ul li .fullBackground.informatique, .header_top .blocBarres.menuOuvert + nav.principal ul li > div .fullBackground.informatique {
            background: #fc7e14; }
        .header_top .blocBarres.menuOuvert + nav.principal ul li:hover .fullBackground, .header_top .blocBarres.menuOuvert + nav.principal ul li > div:hover .fullBackground {
          width: 100%; }
        .header_top .blocBarres.menuOuvert + nav.principal ul li a, .header_top .blocBarres.menuOuvert + nav.principal ul li > div input, .header_top .blocBarres.menuOuvert + nav.principal ul li > div a, .header_top .blocBarres.menuOuvert + nav.principal ul li > div > div input {
          height: 100%;
          width: 100%;
          padding: 0;
          margin: 0;
          text-align: center;
          line-height: 11.1111111111111111111111111111111111111111111111111111111111111vh;
          font-size: 5vh;
          text-transform: uppercase;
          display: block;
          font-weight: bold;
          color: #fff;
          background: transparent;
          float: none;
          position: relative;
          z-index: 2; }

nav.principal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  display: none;
  transition: all .2s linear; }

.logo {
  width: calc(100% - 61px);
  padding-left: 15px; }
  .logo a {
    top: 5px !important; }
  .logo img {
    max-width: 100%;
    max-height: 40px; }

ul.navbar-nav {
  height: 100%; }
  ul.navbar-nav li.btn-group.none {
    height: 50px;
    border-bottom: 1px solid #fff;
    width: 75px;
    margin-right: 15px; }
  ul.navbar-nav li.btn-group.none button {
    background: #111113;
    color: #FFF;
    border: none;
    width: 75px;
    margin-top: 15px;
    position: relative; }
    ul.navbar-nav li.btn-group.none button:focus {
      background: #111113 !important; }
    ul.navbar-nav li.btn-group.none button a {
      color: #fff;
      font-size: 15px; }
      ul.navbar-nav li.btn-group.none button a span {
        display: inline-block; }
        ul.navbar-nav li.btn-group.none button a span:first-child {
          margin-right: 15px; }
    ul.navbar-nav li.btn-group.none button + .dropdown-menu {
      width: 75px;
      min-width: 75px; }
      ul.navbar-nav li.btn-group.none button + .dropdown-menu li, ul.navbar-nav li.btn-group.none button + .dropdown-menu a {
        display: block;
        width: 100%;
        text-align: center;
        height: 30px;
        line-height: 30px; }
      ul.navbar-nav li.btn-group.none button + .dropdown-menu a {
        line-height: 19px; }
        ul.navbar-nav li.btn-group.none button + .dropdown-menu a:hover {
          background-color: #111113; }
  ul.navbar-nav li:not(.none) {
    box-sizing: border-box;
    height: 50px;
    width: 40px;
    background-position: center top;
    background-repeat: no-repeat;
    transition: all .2s linear; }
    ul.navbar-nav li:not(.none) a {
      height: 50px;
      width: 40px;
      box-sizing: border-box; }
  ul.navbar-nav li:hover {
    background-position: center bottom; }
  ul.navbar-nav li.fb {
    background-image: url("../images/fb_vignette.png"); }
  ul.navbar-nav li.twitter {
    background-image: url("../images/twitter_vignette.png"); }
  ul.navbar-nav li.linkedin {
    background-image: url("../images/linkedin_vignette.png"); }
  ul.navbar-nav li.connexion {
    background-image: url("../images/utilisateur_vignette.png"); }
    ul.navbar-nav li.connexion:hover .blocConnect {
      display: block; }
    ul.navbar-nav li.connexion > a.menuOuvert + .blocConnect {
      display: block; }

.nav > li > a:focus, .nav > li > a:hover {
  background: transparent; }

.blocConnect {
  position: absolute;
  top: 100%;
  right: 0;
  width: 335px;
  padding: 10px;
  background: #fff;
  color: #111113;
  display: none; }
  .blocConnect::before {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    top: -5px;
    right: 15px;
    transform: rotate(45deg); }
  .blocConnect form {
    margin: 10px 0; }
    .blocConnect form::after {
      content: '';
      display: block;
      clear: both; }
  .blocConnect input[type="text"], .blocConnect input[type="password"] {
    background: #FFF;
    border: 1px solid #111113;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px;
    box-sizing: border-box;
    width: 155px; }
  .blocConnect input[type="password"] {
    margin-left: 1px; }
  .blocConnect input[type="button"] {
    float: right;
    margin: 10px 0;
    background: #FFF;
    border: 1px solid #111113;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px; }

/*************************************************************/
/************************** ACCUEIL **************************/
/*************************************************************/
#sons, #titrePrincipal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0; }

#titrePrincipal {
  position: relative;
  height: calc(100vh - 50px);
  z-index: 1; }
  #titrePrincipal .titre {
    position: absolute;
    width: 50%;
    padding: 40px;
    box-sizing: border-box;
    font-size: 5vh;
    font-weight: bold;
    border: 5px solid #fff;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    left: 25%; }

.contenu {
  position: relative;
  z-index: 1; }

.radioDirect {
  width: 100%;
  height: 40vh;
  padding: 50px;
  box-sizing: border-box;
  background-image: url(../images/principal.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .radioDirect .enDirect {
    font-size: 7vh;
    padding-bottom: 20px;
    width: 50%;
    border-bottom: 5px solid #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative; }
    .radioDirect .enDirect .bouton {
      position: absolute;
      right: 0;
      bottom: 24px; }
  .radioDirect p {
    width: 50%; }

.chaines {
  width: 100%;
  height: 20vh;
  padding: 0 50px;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 30px; }
  .chaines a {
    position: relative;
    width: 100%;
    float: left;
    height: 20vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
    .chaines a.art {
      background-image: url("../images/art.jpg"); }
      .chaines a.art .mask {
        background: #c12aad; }
    .chaines a.robotique {
      background-image: url("../images/robotique.jpg"); }
      .chaines a.robotique .mask {
        background: #6f30bf; }
    .chaines a.esport {
      background-image: url("../images/esport.jpg"); }
      .chaines a.esport .mask {
        background: #2e3192; }
    .chaines a.jeux {
      background-image: url("../images/jeux.jpg"); }
      .chaines a.jeux .mask {
        background: #c53605; }
    .chaines a.science {
      background-image: url("../images/science.jpg"); }
      .chaines a.science .mask {
        background: #039313; }
    .chaines a.informatique {
      background-image: url("../images/informatique.jpg"); }
      .chaines a.informatique .mask {
        background: #fc7e14; }
    .chaines a:hover .titreC {
      border-width: 1px;
      line-height: 6vh; }
  .chaines .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .3; }
  .chaines .titreC {
    display: inline-block;
    height: 6vh;
    width: 75%;
    line-height: 5vh;
    box-sizing: border-box;
    border: 5px solid #fff;
    margin-top: 7vh;
    font-size: 3vh;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 3;
    transition: all .2s linear; }
  .chaines .owl-prev, .chaines .owl-next {
    position: absolute;
    overflow: hidden;
    height: 20vh;
    background-color: #fff;
    width: 50px;
    top: 0; }
    .chaines .owl-prev::before, .chaines .owl-next::before {
      content: '';
      line-height: 20vh;
      text-align: center;
      text-indent: 0;
      font-size: 5vh;
      width: 50px;
      display: block;
      color: #111113; }
  .chaines .owl-prev {
    left: 0; }
    .chaines .owl-prev::before {
      content: '<'; }
  .chaines .owl-next {
    right: 0; }
    .chaines .owl-next::before {
      content: '>'; }

.bouton {
  font-size: 14px;
  text-transform: uppercase;
  background: #fff;
  padding: 10px;
  border: 1px solid #fff;
  font-weight: 300;
  display: inline-block;
  color: #000; }

.goupeDecouverte {
  box-sizing: border-box;
  position: relative; }
  .goupeDecouverte .user {
    width: 100%; }
  .goupeDecouverte .imageUser {
    padding: 0;
    border: 2px solid #FFF;
    box-sizing: border-box;
    position: relative;
    z-index: 2; }
  .goupeDecouverte .h1 {
    Z-index: 3;
    position: absolute;
    top: 30px;
    right: 0;
    width: 80%;
    background: #111113;
    color: #FFF;
    border: none;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    font-weight: bold; }
  .goupeDecouverte h2 {
    text-decoration: underline;
    position: relative;
    margin-bottom: 20px;
    display: inline-block;
    color: #111113; }
  .goupeDecouverte p {
    color: #111113; }
  .goupeDecouverte .description {
    padding: 120px 10px 20px;
    margin-top: -100px;
    background: #fff;
    z-index: 1;
    position: relative; }

.groupeSonUser {
  box-sizing: border-box; }
  .groupeSonUser .personnes {
    position: relative;
    z-index: 2; }
    .groupeSonUser .personnes .blocUser {
      width: 33.3333333%;
      float: left;
      position: relative;
      box-sizing: border-box;
      border-top: 3px solid #fff;
      border-left: 3px solid #fff;
      border-bottom: 3px solid #fff;
      border-right: 3px solid #fff;
      margin-left: -3px; }
      .groupeSonUser .personnes .blocUser:first-child {
        margin-left: 0; }
      .groupeSonUser .personnes .blocUser > img {
        width: 100%; }
      .groupeSonUser .personnes .blocUser:hover .over {
        display: table; }
        .groupeSonUser .personnes .blocUser:hover .over .infos {
          opacity: 1; }
      .groupeSonUser .personnes .blocUser .over {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%; }
        .groupeSonUser .personnes .blocUser .over .infos {
          transition: all .3s linear;
          display: table-cell;
          vertical-align: middle;
          opacity: 0;
          background: rgba(0, 0, 0, 0.8);
          text-align: center; }
          .groupeSonUser .personnes .blocUser .over .infos .h2 {
            text-decoration: underline; }
  .groupeSonUser .description {
    padding: 100px 10px 20px;
    margin-top: -100px;
    background: #303235;
    position: relative;
    z-index: 1; }
    .groupeSonUser .description .h1 {
      clear: left;
      display: inline-block;
      width: auto;
      padding: 10px;
      padding: 0;
      border: 0;
      margin-left: -15%;
      font-weight: bold; }
  .groupeSonUser .blocContent::after {
    content: '';
    clear: both;
    display: block; }
  .groupeSonUser .blocContentSon {
    float: none;
    width: 100%;
    clear: both;
    margin: 20px 0; }
    .groupeSonUser .blocContentSon #category {
      padding: 0;
      position: relative;
      z-index: 2;
      background: #fff;
      padding: 1px 3px; }
    .groupeSonUser .blocContentSon .blocSon {
      width: 100%;
      padding-right: 5px;
      box-sizing: border-box;
      margin: 2px 0 2px !important; }
    .groupeSonUser .blocContentSon .uploadSon .h1 {
      width: 100%;
      display: block;
      text-align: right;
      margin-left: 15%; }

.newsletter {
  clear: both;
  position: relative;
  width: 100%;
  height: calc(100vh - 60px); }
  .newsletter .blocNL {
    position: absolute;
    width: 75%;
    padding: 40px 10px;
    box-sizing: border-box;
    font-size: 5vh;
    font-weight: bold;
    border: 5px solid #fff;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    left: 12.5%; }
    .newsletter .blocNL h1 {
      margin: 15px 0; }
    .newsletter .blocNL .inputMail {
      color: #111113;
      max-width: 100%;
      text-align: center; }

/*************************************************************/
/*************************** AUDIO ***************************/
/*************************************************************/
.lecteur {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 20;
  bottom: 0;
  left: 0;
  background: #303235;
  box-sizing: border-box;
  display: none; }
  .lecteur .fermer {
    width: 25px;
    height: 25px;
    position: absolute;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    top: -12px;
    right: 30px;
    background: #fff;
    color: #111113; }
  .lecteur .pp, .lecteur .volume {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center; }
  .lecteur #play {
    background-image: url("../images/lecture.png"); }
  .lecteur #pause {
    background-image: url("../images/pause.png"); }
  .lecteur .pp, .lecteur .audioDebut, .lecteur .audioFin, .lecteur .coeur, .lecteur .volume {
    width: 10%;
    float: left;
    height: 70px;
    line-height: 70px;
    display: block; }
    .lecteur .pp img, .lecteur .audioDebut img, .lecteur .audioFin img, .lecteur .coeur img, .lecteur .volume img {
      max-width: 40px;
      width: 100%;
      display: inline; }
  .lecteur .pp, .lecteur .volume, .lecteur .coeur {
    max-width: 30px;
    width: 4%; }
  .lecteur .audioDebut, .lecteur .audioFin {
    max-width: 60px;
    width: 7%; }
  .lecteur .volume {
    background-size: 20px auto;
    position: relative;
    background-image: url("../images/volume.png"); }
    .lecteur .volume:hover #seek {
      display: block; }
  .lecteur .audioDebut {
    text-align: right;
    padding-right: 5px;
    box-sizing: border-box; }
  .lecteur .audioFin {
    text-align: left;
    padding-left: 5px;
    box-sizing: border-box; }
  .lecteur .coeur {
    padding-right: 5px;
    line-height: 80px; }
  .lecteur #seek {
    display: none;
    position: absolute;
    right: -30%;
    top: -15px;
    width: 50px;
    transform: rotate(-90deg); }
  .lecteur #ecoulement {
    width: 70%;
    margin-top: 33px;
    float: left;
    height: 5px;
    background-color: #111113;
    transition: all .1s linear; }
    .lecteur #ecoulement:hover {
      margin-top: 30px;
      height: 9px; }
  .lecteur .progress {
    background: #fff;
    width: 0;
    height: 100%;
    border-radius: 0; }
  .lecteur .infos {
    display: table;
    table-layout: fixed;
    height: 70px; }
    .lecteur .infos .blocIMG {
      width: 65px;
      height: 65px;
      display: table-cell;
      vertical-align: middle; }
    .lecteur .infos img {
      width: 65px;
      height: 65px;
      margin-top: 2px;
      display: inline-block; }
    .lecteur .infos .titreNom {
      padding-left: 10px;
      box-sizing: border-box;
      display: table-cell;
      vertical-align: middle; }
  .lecteur.art .progress, .lecteur.art .infos {
    background: #c12aad; }
  .lecteur.esport .progress, .lecteur.esport .infos {
    background: #2e3192; }
  .lecteur.jeux .progress, .lecteur.jeux .infos {
    background: #c53605; }
  .lecteur.science .progress, .lecteur.science .infos {
    background: #039313; }
  .lecteur.robotique .progress, .lecteur.robotique .infos {
    background: #6f30bf; }
  .lecteur.informatique .progress, .lecteur.informatique .infos {
    background: #fc7e14; }

.right {
  float: right; }

h2, .h2 {
  font-size: 25px;
  font-weight: bold;
  position: relative;
  display: inline-block; }

img.medaille {
  position: absolute;
  top: 1px;
  right: -20px;
  width: 15px;
  height: 15px; }

#footerRights {
  position: relative; }

@media screen and (max-width: 768px) {
  .goupeDecouverte, .groupeSonUser {
    clear: both;
    float: none;
    margin: 15px 0; }
    .goupeDecouverte::before, .goupeDecouverte::after, .groupeSonUser::before, .groupeSonUser::after {
      content: '';
      clear: both;
      display: block; }

  .social-icons ul.navbar-nav {
    margin: 0; }
    .social-icons ul.navbar-nav li {
      float: left; }

  .radioDirect .enDirect, .radioDirect p {
    width: 100%; } }
@media screen and (max-width: 550px) {
  .header_top {
    height: auto; }

  .social-icons {
    float: right !important; }

  .header_top .row > div {
    float: none;
    width: 100%;
    clear: both; } }

/*# sourceMappingURL=style.css.map */
