/*************************************************************/
/************************** MENU ***************************/
/*************************************************************/

#menuBurger{
  float:left;
}
.header_top{
  background:#111113;
  position:fixed;
  height:50px;
  width:100%;
  z-index: 10;
  .blocBarres{
    width:50px;
    position:relative;
    z-index:50;
    text-align:center;
    height:35px;
    margin-top:5px;
    padding-top:2px;
    padding-right:10px;
    border-right:1px solid #fff;
    box-sizing:content-box;
    &:hover{
      cursor:pointer;
      .blocCharge.blocChargemiddle{
        width:80%;
      }
    }
    .blocCharge{
      width:80%;
      display:block;
      height:5px;
      background:#fff;
      transition:all .2s linear;
      margin:5px 10%;
      opacity:1;
      &:first-child{
        margin-top:5px;
      }
      &.blocChargemiddle{
        width:60%;
      }
    }
    &.menuOuvert{
      .blocCharge{
        opacity:0;
        width:80%;
        &:first-child{
          opacity:1;
          transform:rotate(45deg);
          transform-origin: bottom left;
          margin:-1px 0 0;
        }
        &:last-child{
          opacity:1;
          transform:rotate(-45deg);
          transform-origin: top left;
          margin:15px 0 0;
        }
      }
      + nav.principal{
        opacity:1;
        display:block;
        ul li, ul li >div{
          height:11.1111111111111111111111111111111111111111111111111111111111111vh;
          background-color:rgba(0,0,0,.9);
          float:none !important;
          margin:0;
          padding:0;
          position:relative;
          &.search_box{
            background:transparent;
          }
          .fullBackground{
            width:0;
            height:100%;
            display:block;
            position:absolute;
            left:0;
            top:0;
            transition:all .4s linear;
            z-index:1;
            &.gris{
              background:#303235;
            }
            &.art{
              background:$art;
            }
            &.science{
              background:$science;
            }
            &.robotique{
              background:$robotique;
            }
            &.e-sport{
              background:$esport;
            }
            &.jeux{
              background:$jeux;
            }
            &.informatique{
              background:$informatique;
            }
          }
          &:hover{
            .fullBackground{
              width:100%;
            }
          }
          a, >div input{
            height:100%;
            width:100%;
            padding:0;
            margin:0;
            text-align:center;
            line-height:11.1111111111111111111111111111111111111111111111111111111111111vh;
            font-size:5vh;
            text-transform:uppercase;
            display:block;
            font-weight:bold;
            color:#fff;
            background:transparent;
            float:none;
            position:relative;
            z-index: 2;
          }
        }
      }
    }
  }
}

nav.principal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:10;
  opacity:0;
  display:none;
  transition:all .2s linear;
}
.logo{
  width:calc(100% - 61px);

  padding-left:15px;
  a{
    top:5px !important;
  }
  img{
    max-width:100%;
    max-height:40px;
  }
}

ul.navbar-nav{
  height:100%;
  li.btn-group.none{
    height:50px;
    border-bottom:1px solid #fff;
    width:75px;
    margin-right:15px;
  }
  li.btn-group.none button{
    background:#111113;
    color:#FFF;
    border:none;
    width:75px;
    margin-top:15px;
    position:relative;
    &:focus{
      background:#111113 !important;
    }
    a{
      color:#fff;
      font-size:15px;
      span{
        display:inline-block;
        &:first-child{
          margin-right:15px;
        }
      }
    }
    +.dropdown-menu{
      width:75px;
      min-width:75px;
      li, a{
        display:block;
        width:100%;
        text-align:center;
        height:30px;
        line-height: 30px;
      }
      a{
        line-height:19px;
        &:hover{
          background-color:#111113;
        }
      }
    }
  }
  li:not(.none){
    a{
      height:50px;
      width:40px;
      box-sizing: border-box;
    }
    box-sizing: border-box;
    height:50px;
    width:40px;
    background-position:center top;
    background-repeat:no-repeat;
    transition:all .2s linear;
  }
  li:hover{
    background-position:center bottom;
  }
  li{
    &.fb{
      background-image:url('../images/fb_vignette.png');
    }
    &.twitter{
      background-image:url('../images/twitter_vignette.png');
    }
    &.linkedin{
      background-image:url('../images/linkedin_vignette.png');
    }
    &.connexion{
      background-image:url('../images/utilisateur_vignette.png');
      &:hover{
        .blocConnect{
          display:block;
        }
      }
      >a.menuOuvert + .blocConnect{
        display:block;
      }
    }
  }
}
.nav > li > a:focus, .nav > li > a:hover{
  background:transparent;
}
.blocConnect{
  position:absolute;
  top:100%;
  right:0;
  width:335px;
  padding:10px;
  background:#fff;
  color:#111113;
  display:none;
  &::before{
    content:'';
    display: block;
    position:absolute;
    width:10px;
    height:10px;
    background:#fff;
    top:-5px;
    right:15px;
    transform: rotate(45deg);
  }
  form{
    margin:10px 0;
    &::after{
      content:'';
      display: block;
      clear: both;
    }
  }
  input[type="text"], input[type="password"]{
    background:#FFF;
    border:1px solid #111113;
    font-size:14px;
    text-transform:uppercase;
    padding:5px;
    box-sizing:border-box;
    width:155px;
  }
  input[type="password"]{
    margin-left:1px;
  }
  input[type="button"]{
    float:right;
    margin:10px 0;
    background:#FFF;
    border:1px solid #111113;
    font-size:14px;
    text-transform:uppercase;
    padding:5px;
  }
}


/*************************************************************/
/************************** ACCUEIL **************************/
/*************************************************************/

#sons,#titrePrincipal{
  width:100%;
  height:100vh;
  position:fixed;
  top:0;
  left:0;
  z-index:0;
}
#titrePrincipal{
  position:relative;
  height:calc(100vh - 50px);
  z-index:1;
  .titre{
    position:absolute;
    width:50%;
    padding:40px;
    box-sizing:border-box;
    font-size:5vh;
    font-weight:bold;
    border:5px solid #fff;
    text-align:center;
    margin:0 auto;
    text-transform: uppercase;
    left:25%;
  }
}
.contenu{
  position:relative;
  z-index:1;
}
.radioDirect{
  width:100%;
  height:40vh;
  padding:50px;
  box-sizing:border-box;
  background-image:url(../images/principal.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center center;
  .enDirect{
    font-size:7vh;
    padding-bottom:20px;
    width:50%;
    border-bottom:5px solid #fff;
    margin-bottom:20px;
    text-transform:uppercase;
    font-weight:bold;
  }
  p{
    width:50%;
  }
}
.chaines{
  width:100%;
  height:20vh;
  padding:0 50px;
  margin:0;
  box-sizing:border-box;
  text-align:center;
  a{
    position:relative;
    width:100%;
    float:left;
    height:20vh;
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;

    &.art{
      background-image:url('../images/art.jpg');
      .mask{
        background:$art;
      }
    }
    &.robotique{
      background-image:url('../images/robotique.jpg');
      .mask{
        background:$robotique;
      }
    }
    &.esport{
      background-image:url('../images/esport.jpg');
      .mask{
        background:$esport;
      }
    }
    &.jeux{
      background-image:url('../images/jeux.jpg');
      .mask{
        background:$jeux;
      }
    }
    &.science{
      background-image:url('../images/science.jpg');
      .mask{
        background:$science;
      }
    }
    &.informatique{
      background-image:url('../images/informatique.jpg');
      .mask{
        background:$informatique;
      }
    }
    &:hover .titreC{
      border-width:1px;
      line-height:6vh;
    }
  }
  .mask{
    width:100%;
    height:100%;
    position:absolute;
    opacity:.3;
  }
  .titreC{
    display:inline-block;
    height:6vh;
    width:75%;
    line-height:5vh;
    box-sizing:border-box;
    border:5px solid #fff;
    margin-top:7vh;
    font-size:3vh;
    text-transform: uppercase;
    font-weight:bold;
    color:#fff;
    background-color:rgba(0,0,0,.4);
    position:relative;
    z-index:3;
    transition:all .2s linear;
  }

  //Navigation
  .owl-prev, .owl-next{
    position:absolute;
    overflow:hidden;
    height:20vh;
    background-color:#fff;
    width:50px;
    top:0;
    &::before{
      content:'';
      line-height:20vh;
      text-align: center;
      text-indent:0;
      font-size:5vh;
      width:50px;
      display:block;
      color:#111113;
    }
  }
  .owl-prev{
    left:0;
    &::before {
      content: '<';
    }
  }
  .owl-next {
    right:0;
    &::before {
      content: '>';
    }
  }
}