/*************************************************************/
/************************** MENU ***************************/
/*************************************************************/
/* line 5, ../sass/thibault.scss */
.header_top {
  background: #111113;
  position: fixed;
  height: 120px;
  width: 100%;
}

/* line 11, ../sass/thibault.scss */
a {
  color: #fff;
}
