<footer id="footer"><!--Footer-->

    <section id="footerRights">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="footerLinks">
                        <li><a href="{{ path('r_tech_contact') }}">Contact</a> - </li>
                        <li><a href="{{ path('r_tech_app_homepage') }}">A propos</a> - </li>
                        <li><a href="{{ path('r_tech_app_homepage') }}">Mentions Légales</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</footer><!--/Footer-->


