<footer id="footer"><!--Footer-->
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="single-widget">
                        <h2>Service</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Online Help</a></li>
                            <li><a href="">Contact Us</a></li>
                            <li><a href="#">Order Status</a></li>
                            <li><a href="#">Change Location</a></li>
                            <li><a href="#">FAQ’s</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-widget">
                        <h2>Quock Shop</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">T-Shirt</a></li>
                            <li><a href="#">Mens</a></li>
                            <li><a href="#">Womens</a></li>
                            <li><a href="#">Gift Cards</a></li>
                            <li><a href="#">Shoes</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-widget">
                        <h2>Policies</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privecy Policy</a></li>
                            <li><a href="#">Refund Policy</a></li>
                            <li><a href="#">Billing System</a></li>
                            <li><a href="#">Ticket System</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="footerRights">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="socialNetwork">
                        <li><a href="#" class="tips" title="follow me on Facebook"><i class="icon-facebook iconRounded"></i></a></li>
                        <li><a href="#" class="tips" title="follow me on Twitter"><i class="icon-twitter iconRounded"></i></a></li>
                        <li><a href="#" class="tips" title="follow me on Google+"><i class="icon-gplus iconRounded"></i></a></li>
                        <li><a href="#" class="tips" title="follow me on Linkedin"><i class="icon-linkedin iconRounded"></i></a></li>
                        <li><a href="#" class="tips" title="follow me on Dribble"><i class="icon-dribbble iconRounded"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <p>Copyright © 2014 <a href="http://www.little-neko.com" target="blank">Little NEKO</a> / All rights reserved.</p>
                </div>
            </div>
        </div>
    </section>

</footer><!--/Footer-->


