<footer id="footer"><!--Footer-->

    <section id="footerRights">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="footerLinks">
                        <li><a>Contact</a></li>
                        <li><a>A propos</a></li>
                        <li><a>Mentions Légales</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</footer><!--/Footer-->


