@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
/* line 5, ../sass/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 15, ../sass/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 18, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 21, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 28, ../sass/reset.scss */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 34, ../sass/reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 39, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/bootstrap.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*====================================
=            glyphicon ANIMATION       =
=======================================*/
  /* just apply some height and width to the wrapper.
  .productinfo {
    width:400px;
    height:400px;
    overflow: auto;
  }
  */
}

/* line 15, ../sass/bootstrap.scss */
body .glyphicon-refresh-animate {
  -moz-animation: spin-moz 0.7s infinite linear;
  -webkit-animation: spin-webkit 0.7s infinite linear;
  animation: spin .7s infinite linear;
}

@-moz-keyframes spin-moz {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin-webkit {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
/* line 44, ../sass/bootstrap.scss */
body .pylos-logo a {
  color: #b4b1ab;
  font-family: abel;
  font-size: 20px;
  position: relative;
  top: 10px;
  font-weight: bold;
}

/* line 52, ../sass/bootstrap.scss */
body .pylos-logo a span {
  color: #fe980f;
}

/* line 55, ../sass/bootstrap.scss */
body .breadcrumb a {
  color: #f49a17;
}

/* line 58, ../sass/bootstrap.scss */
body .product-price {
  text-align: right;
  font-weight: 400;
  line-height: 25px;
}

/* line 63, ../sass/bootstrap.scss */
body .regular-price {
  margin-bottom: 20px;
  margin-left: 4px;
  color: #f49a17;
}

/* line 68, ../sass/bootstrap.scss */
body .name {
  margin-top: 0;
  color: #696763;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  margin-bottom: 17px;
}

/* line 76, ../sass/bootstrap.scss */
body .social-networks.social-icons.nav.navbar-nav > ul > li {
  margin-right: 0;
}

/* line 79, ../sass/bootstrap.scss */
body .product-image-wrapper {
  border: 3px solid #f7f7f0;
}

/* line 82, ../sass/bootstrap.scss */
body .item-cart a img,
body .media-left a img {
  -webkit-transition: all 1s ease;
  /* Safari and Chrome */
  -moz-transition: all 1s ease;
  /* Firefox */
  -o-transition: all 1s ease;
  /* IE 9 */
  -ms-transition: all 1s ease;
  /* Opera */
  transition: all 1s ease;
  max-width: 100%;
}

/* line 95, ../sass/bootstrap.scss */
body .item-cart a:hover img,
body .media-left a:hover img {
  -webkit-transform: scale(1.13);
  /* Safari and Chrome */
  -moz-transform: scale(1.13);
  /* Firefox */
  -ms-transform: scale(1.13);
  /* IE 9 */
  -o-transform: scale(1.13);
  /* Opera */
  transform: scale(1.13);
  opacity: 0.6;
}

/* line 6, ../sass/style.scss */
body, html {
  height: 100%;
  margin: 0;
  font-size: 14px;
  background-color: #111113;
  color: #fff;
}

/* line 13, ../sass/style.scss */
* {
  box-sizing: inherit;
  font-family: 'Oswald', sans-serif !important;
  font-size: 1rem;
}

/* line 18, ../sass/style.scss */
img {
  height: auto;
  max-width: 100%;
}

/* line 22, ../sass/style.scss */
h1, .h1 {
  font-size: 1.42857 rem;
  text-transform: uppercase;
}

/* line 27, ../sass/style.scss */
.h1 {
  margin: 10px 0;
  padding: 8px 0;
  border-bottom: 3px solid #FFF;
  width: 100%;
  display: block;
}

/* line 35, ../sass/style.scss */
.container {
  max-width: 1900px;
  width: 100%;
  box-sizing: border-box;
}

/* line 41, ../sass/style.scss */
.row {
  margin: 0 !important;
}

/* line 45, ../sass/style.scss */
.col-md-1, .col-md-10, .col-md-11, .col-md-12,
.col-md-2, .col-md-3, .col-md-4, .col-md-5,
.col-md-6, .col-md-7, .col-md-8, .col-md-9 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../sass/solene.scss */
.category {
  padding: 15px;
}
/* line 4, ../sass/solene.scss */
.category .fixed {
  position: fixed;
}
/* line 8, ../sass/solene.scss */
.category .col-md-3 {
  padding-right: 38px;
}
/* line 12, ../sass/solene.scss */
.category input.searchBox {
  background-color: #111113;
  border: medium none;
  color: #FFF;
  font-weight: 300;
  height: 35px;
  width: 100%;
  margin-top: 25px;
  padding: 0 15px;
  outline: medium none;
  border: 3px solid #FFF;
  color: #FFF;
}
/* line 25, ../sass/solene.scss */
.category input.searchBox::-webkit-input-placeholder {
  color: #FFF;
}
/* line 28, ../sass/solene.scss */
.category input.searchBox:-moz-placeholder {
  /* Firefox 18- */
  color: #FFF;
}
/* line 31, ../sass/solene.scss */
.category input.searchBox::-moz-placeholder {
  /* Firefox 19+ */
  color: #FFF;
}
/* line 34, ../sass/solene.scss */
.category input.searchBox:-ms-input-placeholder {
  color: #FFF;
}
/* line 39, ../sass/solene.scss */
.category select {
  margin: 5px 0;
}
/* line 43, ../sass/solene.scss */
.category .contentCat {
  background-color: #303235;
  height: 100%;
  padding: 5px;
}
/* line 48, ../sass/solene.scss */
.category .contentCat .encartPub {
  background-color: #8959A8;
  width: 90%;
  margin: 20px auto;
  display: block;
  height: 150px;
  box-sizing: border-box;
  box-shadow: 0 0 10px 3px #090D13;
  line-height: 150px;
}

/* line 62, ../sass/solene.scss */
#footerRights {
  background-color: #111113;
  color: white;
  border-top: 5px  solid #FFF;
}
/* line 66, ../sass/solene.scss */
#footerRights ul li {
  display: inline-block;
}

/*************************************************************/
/************************** MENU ***************************/
/*************************************************************/
/* line 5, ../sass/thibault.scss */
#menuBurger {
  float: left;
}

/* line 8, ../sass/thibault.scss */
.header_top {
  background: #111113;
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 10;
}
/* line 14, ../sass/thibault.scss */
.header_top .blocBarres {
  width: 50px;
  position: relative;
  z-index: 50;
  text-align: center;
  height: 35px;
  margin-top: 5px;
  padding-top: 2px;
  padding-right: 10px;
  border-right: 1px solid #fff;
  box-sizing: content-box;
}
/* line 25, ../sass/thibault.scss */
.header_top .blocBarres:hover {
  cursor: pointer;
}
/* line 27, ../sass/thibault.scss */
.header_top .blocBarres:hover .blocCharge.blocChargemiddle {
  width: 80%;
}
/* line 31, ../sass/thibault.scss */
.header_top .blocBarres .blocCharge {
  width: 80%;
  display: block;
  height: 5px;
  background: #fff;
  transition: all .2s linear;
  margin: 5px 10%;
  opacity: 1;
}
/* line 39, ../sass/thibault.scss */
.header_top .blocBarres .blocCharge:first-child {
  margin-top: 5px;
}
/* line 42, ../sass/thibault.scss */
.header_top .blocBarres .blocCharge.blocChargemiddle {
  width: 60%;
}
/* line 47, ../sass/thibault.scss */
.header_top .blocBarres.menuOuvert .blocCharge {
  opacity: 0;
  width: 80%;
}
/* line 50, ../sass/thibault.scss */
.header_top .blocBarres.menuOuvert .blocCharge:first-child {
  opacity: 1;
  transform: rotate(45deg);
  transform-origin: bottom left;
  margin: -1px 0 0;
}
/* line 56, ../sass/thibault.scss */
.header_top .blocBarres.menuOuvert .blocCharge:last-child {
  opacity: 1;
  transform: rotate(-45deg);
  transform-origin: top left;
  margin: 15px 0 0;
}
/* line 63, ../sass/thibault.scss */
.header_top .blocBarres.menuOuvert + nav.principal {
  opacity: 1;
  display: block;
}
/* line 66, ../sass/thibault.scss */
.header_top .blocBarres.menuOuvert + nav.principal ul li, .header_top .blocBarres.menuOuvert + nav.principal ul li > div {
  height: 11.1111111111111111111111111111111111111111111111111111111111111vh;
  background-color: rgba(0, 0, 0, 0.9);
  float: none !important;
  margin: 0;
  padding: 0;
  position: relative;
}
/* line 73, ../sass/thibault.scss */
.header_top .blocBarres.menuOuvert + nav.principal ul li.search_box, .header_top .blocBarres.menuOuvert + nav.principal ul li > div.search_box {
  background: transparent;
}
/* line 76, ../sass/thibault.scss */
.header_top .blocBarres.menuOuvert + nav.principal ul li .fullBackground, .header_top .blocBarres.menuOuvert + nav.principal ul li > div .fullBackground {
  width: 0;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  transition: all .4s linear;
  z-index: 1;
}
/* line 85, ../sass/thibault.scss */
.header_top .blocBarres.menuOuvert + nav.principal ul li .fullBackground.gris, .header_top .blocBarres.menuOuvert + nav.principal ul li > div .fullBackground.gris {
  background: #303235;
}
/* line 88, ../sass/thibault.scss */
.header_top .blocBarres.menuOuvert + nav.principal ul li .fullBackground.art, .header_top .blocBarres.menuOuvert + nav.principal ul li > div .fullBackground.art {
  background: #c12aad;
}
/* line 91, ../sass/thibault.scss */
.header_top .blocBarres.menuOuvert + nav.principal ul li .fullBackground.science, .header_top .blocBarres.menuOuvert + nav.principal ul li > div .fullBackground.science {
  background: #039313;
}
/* line 94, ../sass/thibault.scss */
.header_top .blocBarres.menuOuvert + nav.principal ul li .fullBackground.robotique, .header_top .blocBarres.menuOuvert + nav.principal ul li > div .fullBackground.robotique {
  background: #6f30bf;
}
/* line 97, ../sass/thibault.scss */
.header_top .blocBarres.menuOuvert + nav.principal ul li .fullBackground.e-sport, .header_top .blocBarres.menuOuvert + nav.principal ul li > div .fullBackground.e-sport {
  background: #2e3192;
}
/* line 100, ../sass/thibault.scss */
.header_top .blocBarres.menuOuvert + nav.principal ul li .fullBackground.jeux, .header_top .blocBarres.menuOuvert + nav.principal ul li > div .fullBackground.jeux {
  background: #c53605;
}
/* line 103, ../sass/thibault.scss */
.header_top .blocBarres.menuOuvert + nav.principal ul li .fullBackground.informatique, .header_top .blocBarres.menuOuvert + nav.principal ul li > div .fullBackground.informatique {
  background: #fc7e14;
}
/* line 108, ../sass/thibault.scss */
.header_top .blocBarres.menuOuvert + nav.principal ul li:hover .fullBackground, .header_top .blocBarres.menuOuvert + nav.principal ul li > div:hover .fullBackground {
  width: 100%;
}
/* line 112, ../sass/thibault.scss */
.header_top .blocBarres.menuOuvert + nav.principal ul li a, .header_top .blocBarres.menuOuvert + nav.principal ul li > div input, .header_top .blocBarres.menuOuvert + nav.principal ul li > div a, .header_top .blocBarres.menuOuvert + nav.principal ul li > div > div input {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 11.1111111111111111111111111111111111111111111111111111111111111vh;
  font-size: 5vh;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  color: #fff;
  background: transparent;
  float: none;
  position: relative;
  z-index: 2;
}

/* line 135, ../sass/thibault.scss */
nav.principal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  display: none;
  transition: all .2s linear;
}

/* line 146, ../sass/thibault.scss */
.logo {
  width: calc(100% - 61px);
  padding-left: 15px;
}
/* line 150, ../sass/thibault.scss */
.logo a {
  top: 5px !important;
}
/* line 153, ../sass/thibault.scss */
.logo img {
  max-width: 100%;
  max-height: 40px;
}

/* line 159, ../sass/thibault.scss */
ul.navbar-nav {
  height: 100%;
}
/* line 161, ../sass/thibault.scss */
ul.navbar-nav li.btn-group.none {
  height: 50px;
  border-bottom: 1px solid #fff;
  width: 75px;
  margin-right: 15px;
}
/* line 167, ../sass/thibault.scss */
ul.navbar-nav li.btn-group.none button {
  background: #111113;
  color: #FFF;
  border: none;
  width: 75px;
  margin-top: 15px;
  position: relative;
}
/* line 174, ../sass/thibault.scss */
ul.navbar-nav li.btn-group.none button:focus {
  background: #111113 !important;
}
/* line 177, ../sass/thibault.scss */
ul.navbar-nav li.btn-group.none button a {
  color: #fff;
  font-size: 15px;
}
/* line 180, ../sass/thibault.scss */
ul.navbar-nav li.btn-group.none button a span {
  display: inline-block;
}
/* line 182, ../sass/thibault.scss */
ul.navbar-nav li.btn-group.none button a span:first-child {
  margin-right: 15px;
}
/* line 187, ../sass/thibault.scss */
ul.navbar-nav li.btn-group.none button + .dropdown-menu {
  width: 75px;
  min-width: 75px;
}
/* line 190, ../sass/thibault.scss */
ul.navbar-nav li.btn-group.none button + .dropdown-menu li, ul.navbar-nav li.btn-group.none button + .dropdown-menu a {
  display: block;
  width: 100%;
  text-align: center;
  height: 30px;
  line-height: 30px;
}
/* line 197, ../sass/thibault.scss */
ul.navbar-nav li.btn-group.none button + .dropdown-menu a {
  line-height: 19px;
}
/* line 199, ../sass/thibault.scss */
ul.navbar-nav li.btn-group.none button + .dropdown-menu a:hover {
  background-color: #111113;
}
/* line 205, ../sass/thibault.scss */
ul.navbar-nav li:not(.none) {
  box-sizing: border-box;
  height: 50px;
  width: 40px;
  background-position: center top;
  background-repeat: no-repeat;
  transition: all .2s linear;
}
/* line 206, ../sass/thibault.scss */
ul.navbar-nav li:not(.none) a {
  height: 50px;
  width: 40px;
  box-sizing: border-box;
}
/* line 218, ../sass/thibault.scss */
ul.navbar-nav li:hover {
  background-position: center bottom;
}
/* line 222, ../sass/thibault.scss */
ul.navbar-nav li.fb {
  background-image: url("../images/fb_vignette.png");
}
/* line 225, ../sass/thibault.scss */
ul.navbar-nav li.twitter {
  background-image: url("../images/twitter_vignette.png");
}
/* line 228, ../sass/thibault.scss */
ul.navbar-nav li.linkedin {
  background-image: url("../images/linkedin_vignette.png");
}
/* line 231, ../sass/thibault.scss */
ul.navbar-nav li.connexion {
  background-image: url("../images/utilisateur_vignette.png");
}
/* line 234, ../sass/thibault.scss */
ul.navbar-nav li.connexion:hover .blocConnect {
  display: block;
}
/* line 238, ../sass/thibault.scss */
ul.navbar-nav li.connexion > a.menuOuvert + .blocConnect {
  display: block;
}

/* line 244, ../sass/thibault.scss */
.nav > li > a:focus, .nav > li > a:hover {
  background: transparent;
}

/* line 247, ../sass/thibault.scss */
.blocConnect {
  position: absolute;
  top: 100%;
  right: 0;
  width: 335px;
  padding: 10px;
  background: #fff;
  color: #111113;
  display: none;
}
/* line 256, ../sass/thibault.scss */
.blocConnect::before {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  top: -5px;
  right: 15px;
  transform: rotate(45deg);
}
/* line 267, ../sass/thibault.scss */
.blocConnect form {
  margin: 10px 0;
}
/* line 269, ../sass/thibault.scss */
.blocConnect form::after {
  content: '';
  display: block;
  clear: both;
}
/* line 275, ../sass/thibault.scss */
.blocConnect input[type="text"], .blocConnect input[type="password"] {
  background: #FFF;
  border: 1px solid #111113;
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px;
  box-sizing: border-box;
  width: 155px;
}
/* line 284, ../sass/thibault.scss */
.blocConnect input[type="password"] {
  margin-left: 1px;
}
/* line 287, ../sass/thibault.scss */
.blocConnect input[type="button"] {
  float: right;
  margin: 10px 0;
  background: #FFF;
  border: 1px solid #111113;
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px;
}

/*************************************************************/
/************************** ACCUEIL **************************/
/*************************************************************/
/* line 303, ../sass/thibault.scss */
#sons, #titrePrincipal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

/* line 311, ../sass/thibault.scss */
#titrePrincipal {
  position: relative;
  height: calc(100vh - 50px);
  z-index: 1;
}
/* line 315, ../sass/thibault.scss */
#titrePrincipal .titre {
  position: absolute;
  width: 50%;
  padding: 40px;
  box-sizing: border-box;
  font-size: 5vh;
  font-weight: bold;
  border: 5px solid #fff;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  left: 25%;
}

/* line 329, ../sass/thibault.scss */
.contenu {
  position: relative;
  z-index: 1;
}

/* line 333, ../sass/thibault.scss */
.radioDirect {
  width: 100%;
  height: 40vh;
  padding: 50px;
  box-sizing: border-box;
  background-image: url(../images/principal.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 342, ../sass/thibault.scss */
.radioDirect .enDirect {
  font-size: 7vh;
  padding-bottom: 20px;
  width: 50%;
  border-bottom: 5px solid #fff;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}
/* line 351, ../sass/thibault.scss */
.radioDirect .enDirect .bouton {
  position: absolute;
  right: 0;
  bottom: 24px;
}
/* line 357, ../sass/thibault.scss */
.radioDirect p {
  width: 50%;
}

/* line 361, ../sass/thibault.scss */
.chaines {
  width: 100%;
  height: 20vh;
  padding: 0 50px;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 30px;
}
/* line 369, ../sass/thibault.scss */
.chaines a {
  position: relative;
  width: 100%;
  float: left;
  height: 20vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 378, ../sass/thibault.scss */
.chaines a.art {
  background-image: url("../images/art.jpg");
}
/* line 380, ../sass/thibault.scss */
.chaines a.art .mask {
  background: #c12aad;
}
/* line 384, ../sass/thibault.scss */
.chaines a.robotique {
  background-image: url("../images/robotique.jpg");
}
/* line 386, ../sass/thibault.scss */
.chaines a.robotique .mask {
  background: #6f30bf;
}
/* line 390, ../sass/thibault.scss */
.chaines a.esport {
  background-image: url("../images/esport.jpg");
}
/* line 392, ../sass/thibault.scss */
.chaines a.esport .mask {
  background: #2e3192;
}
/* line 396, ../sass/thibault.scss */
.chaines a.jeux {
  background-image: url("../images/jeux.jpg");
}
/* line 398, ../sass/thibault.scss */
.chaines a.jeux .mask {
  background: #c53605;
}
/* line 402, ../sass/thibault.scss */
.chaines a.science {
  background-image: url("../images/science.jpg");
}
/* line 404, ../sass/thibault.scss */
.chaines a.science .mask {
  background: #039313;
}
/* line 408, ../sass/thibault.scss */
.chaines a.informatique {
  background-image: url("../images/informatique.jpg");
}
/* line 410, ../sass/thibault.scss */
.chaines a.informatique .mask {
  background: #fc7e14;
}
/* line 414, ../sass/thibault.scss */
.chaines a:hover .titreC {
  border-width: 1px;
  line-height: 6vh;
}
/* line 419, ../sass/thibault.scss */
.chaines .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .3;
}
/* line 425, ../sass/thibault.scss */
.chaines .titreC {
  display: inline-block;
  height: 6vh;
  width: 75%;
  line-height: 5vh;
  box-sizing: border-box;
  border: 5px solid #fff;
  margin-top: 7vh;
  font-size: 3vh;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 3;
  transition: all .2s linear;
}
/* line 444, ../sass/thibault.scss */
.chaines .owl-prev, .chaines .owl-next {
  position: absolute;
  overflow: hidden;
  height: 20vh;
  background-color: #fff;
  width: 50px;
  top: 0;
}
/* line 451, ../sass/thibault.scss */
.chaines .owl-prev::before, .chaines .owl-next::before {
  content: '';
  line-height: 20vh;
  text-align: center;
  text-indent: 0;
  font-size: 5vh;
  width: 50px;
  display: block;
  color: #111113;
}
/* line 462, ../sass/thibault.scss */
.chaines .owl-prev {
  left: 0;
}
/* line 464, ../sass/thibault.scss */
.chaines .owl-prev::before {
  content: '<';
}
/* line 468, ../sass/thibault.scss */
.chaines .owl-next {
  right: 0;
}
/* line 470, ../sass/thibault.scss */
.chaines .owl-next::before {
  content: '>';
}

/* line 476, ../sass/thibault.scss */
.bouton {
  font-size: 14px;
  text-transform: uppercase;
  background: #fff;
  padding: 10px;
  border: 1px solid #fff;
  font-weight: 300;
  display: inline-block;
  color: #000;
}

/* line 487, ../sass/thibault.scss */
.goupeDecouverte {
  box-sizing: border-box;
  position: relative;
}
/* line 490, ../sass/thibault.scss */
.goupeDecouverte .user {
  width: 100%;
}
/* line 493, ../sass/thibault.scss */
.goupeDecouverte .imageUser {
  padding: 0;
  border: 2px solid #FFF;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}
/* line 500, ../sass/thibault.scss */
.goupeDecouverte .h1 {
  Z-index: 3;
  position: absolute;
  top: 30px;
  right: 0;
  width: 80%;
  background: #111113;
  color: #FFF;
  border: none;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  font-weight: bold;
}
/* line 514, ../sass/thibault.scss */
.goupeDecouverte h2 {
  text-decoration: underline;
  position: relative;
  margin-bottom: 20px;
  display: inline-block;
  color: #111113;
}
/* line 521, ../sass/thibault.scss */
.goupeDecouverte p {
  color: #111113;
}
/* line 524, ../sass/thibault.scss */
.goupeDecouverte .description {
  padding: 120px 10px 20px;
  margin-top: -100px;
  background: #fff;
  z-index: 1;
  position: relative;
}

/* line 533, ../sass/thibault.scss */
.groupeSonUser {
  box-sizing: border-box;
}
/* line 535, ../sass/thibault.scss */
.groupeSonUser .personnes {
  position: relative;
  z-index: 2;
}
/* line 538, ../sass/thibault.scss */
.groupeSonUser .personnes .blocUser {
  width: 33.3333333%;
  float: left;
  position: relative;
  box-sizing: border-box;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  margin-left: -3px;
}
/* line 548, ../sass/thibault.scss */
.groupeSonUser .personnes .blocUser:first-child {
  margin-left: 0;
}
/* line 551, ../sass/thibault.scss */
.groupeSonUser .personnes .blocUser > img {
  width: 100%;
}
/* line 555, ../sass/thibault.scss */
.groupeSonUser .personnes .blocUser:hover .over {
  display: table;
}
/* line 557, ../sass/thibault.scss */
.groupeSonUser .personnes .blocUser:hover .over .infos {
  opacity: 1;
}
/* line 563, ../sass/thibault.scss */
.groupeSonUser .personnes .blocUser .over {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
/* line 569, ../sass/thibault.scss */
.groupeSonUser .personnes .blocUser .over .infos {
  transition: all .3s linear;
  display: table-cell;
  vertical-align: middle;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
}
/* line 576, ../sass/thibault.scss */
.groupeSonUser .personnes .blocUser .over .infos .h2 {
  text-decoration: underline;
}
/* line 583, ../sass/thibault.scss */
.groupeSonUser .description {
  padding: 100px 10px 20px;
  margin-top: -100px;
  background: #303235;
  position: relative;
  z-index: 1;
}
/* line 589, ../sass/thibault.scss */
.groupeSonUser .description .h1 {
  clear: left;
  display: inline-block;
  width: auto;
  padding: 10px;
  border: 0;
  margin-left: -15%;
  font-weight: bold;
}

/* line 601, ../sass/thibault.scss */
.newsletter {
  clear: both;
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
}
/* line 606, ../sass/thibault.scss */
.newsletter .blocNL {
  position: absolute;
  width: 75%;
  padding: 40px 10px;
  box-sizing: border-box;
  font-size: 5vh;
  font-weight: bold;
  border: 5px solid #fff;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  left: 12.5%;
}
/* line 618, ../sass/thibault.scss */
.newsletter .blocNL h1 {
  margin: 15px 0;
}
/* line 621, ../sass/thibault.scss */
.newsletter .blocNL .inputMail {
  color: #111113;
  max-width: 100%;
  text-align: center;
}

/*************************************************************/
/*************************** AUDIO ***************************/
/*************************************************************/
/* line 635, ../sass/thibault.scss */
.lecteur {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 20;
  bottom: 0;
  left: 0;
  background: #303235;
  box-sizing: border-box;
  display: none;
}
/* line 645, ../sass/thibault.scss */
.lecteur .fermer {
  width: 25px;
  height: 25px;
  position: absolute;
  text-align: center;
  line-height: 25px;
  font-size: 20px;
  top: -12px;
  right: 30px;
  background: #fff;
  color: #111113;
}
/* line 657, ../sass/thibault.scss */
.lecteur .pp, .lecteur .volume {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 662, ../sass/thibault.scss */
.lecteur #play {
  background-image: url("../images/lecture.png");
}
/* line 665, ../sass/thibault.scss */
.lecteur #pause {
  background-image: url("../images/pause.png");
}
/* line 668, ../sass/thibault.scss */
.lecteur .pp, .lecteur .audioDebut, .lecteur .audioFin, .lecteur .coeur, .lecteur .volume {
  width: 10%;
  float: left;
  height: 70px;
  line-height: 70px;
  display: block;
}
/* line 674, ../sass/thibault.scss */
.lecteur .pp img, .lecteur .audioDebut img, .lecteur .audioFin img, .lecteur .coeur img, .lecteur .volume img {
  max-width: 40px;
  width: 100%;
  display: inline;
}
/* line 680, ../sass/thibault.scss */
.lecteur .pp, .lecteur .volume, .lecteur .coeur {
  max-width: 30px;
  width: 4%;
}
/* line 684, ../sass/thibault.scss */
.lecteur .audioDebut, .lecteur .audioFin {
  max-width: 60px;
  width: 7%;
}
/* line 688, ../sass/thibault.scss */
.lecteur .volume {
  background-size: 20px auto;
  position: relative;
  background-image: url("../images/volume.png");
}
/* line 693, ../sass/thibault.scss */
.lecteur .volume:hover #seek {
  display: block;
}
/* line 698, ../sass/thibault.scss */
.lecteur .audioDebut {
  text-align: right;
  padding-right: 5px;
  box-sizing: border-box;
}
/* line 703, ../sass/thibault.scss */
.lecteur .audioFin {
  text-align: left;
  padding-left: 5px;
  box-sizing: border-box;
}
/* line 708, ../sass/thibault.scss */
.lecteur .coeur {
  padding-right: 5px;
  line-height: 80px;
}
/* line 712, ../sass/thibault.scss */
.lecteur #seek {
  display: none;
  position: absolute;
  right: -30%;
  top: -15px;
  width: 50px;
  transform: rotate(-90deg);
}
/* line 720, ../sass/thibault.scss */
.lecteur #ecoulement {
  width: 70%;
  margin-top: 33px;
  float: left;
  height: 5px;
  background-color: #111113;
  transition: all .1s linear;
}
/* line 727, ../sass/thibault.scss */
.lecteur #ecoulement:hover {
  margin-top: 30px;
  height: 9px;
}
/* line 732, ../sass/thibault.scss */
.lecteur .progress {
  background: #fff;
  width: 0;
  height: 100%;
  border-radius: 0;
}
/* line 741, ../sass/thibault.scss */
.lecteur.art .progress, .lecteur.art .infos {
  background: #c12aad;
}
/* line 746, ../sass/thibault.scss */
.lecteur.esport .progress, .lecteur.esport .infos {
  background: #2e3192;
}
/* line 751, ../sass/thibault.scss */
.lecteur.jeux .progress, .lecteur.jeux .infos {
  background: #c53605;
}
/* line 756, ../sass/thibault.scss */
.lecteur.science .progress, .lecteur.science .infos {
  background: #039313;
}
/* line 761, ../sass/thibault.scss */
.lecteur.robotique .progress, .lecteur.robotique .infos {
  background: #6f30bf;
}
/* line 766, ../sass/thibault.scss */
.lecteur.informatique .progress, .lecteur.informatique .infos {
  background: #fc7e14;
}

/* line 772, ../sass/thibault.scss */
.right {
  float: right;
}

/* line 776, ../sass/thibault.scss */
h2, .h2 {
  font-size: 25px;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

/* line 783, ../sass/thibault.scss */
img.medaille {
  position: absolute;
  top: 1px;
  right: -20px;
  width: 15px;
  height: 15px;
}

/* line 791, ../sass/thibault.scss */
#footerRights {
  position: relative;
}

@media screen and (max-width: 768px) {
  /* line 796, ../sass/thibault.scss */
  .goupeDecouverte, .groupeSonUser {
    clear: both;
    float: none;
    margin: 15px 0;
  }
  /* line 800, ../sass/thibault.scss */
  .goupeDecouverte::before, .goupeDecouverte::after, .groupeSonUser::before, .groupeSonUser::after {
    content: '';
    clear: both;
    display: block;
  }

  /* line 806, ../sass/thibault.scss */
  .social-icons ul.navbar-nav {
    margin: 0;
  }
  /* line 808, ../sass/thibault.scss */
  .social-icons ul.navbar-nav li {
    float: left;
  }

  /* line 812, ../sass/thibault.scss */
  .radioDirect .enDirect, .radioDirect p {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  /* line 817, ../sass/thibault.scss */
  .header_top {
    height: auto;
  }

  /* line 820, ../sass/thibault.scss */
  .social-icons {
    float: right !important;
  }

  /* line 823, ../sass/thibault.scss */
  .header_top .row > div {
    float: none;
    width: 100%;
    clear: both;
  }
}
