/*************************************************************/
/************************** MENU ***************************/
/*************************************************************/
/* line 5, ../sass/thibault.scss */
#menuBurger {
  float: left;
}

/* line 8, ../sass/thibault.scss */
.header_top {
  background: #111113;
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 10;
}
/* line 14, ../sass/thibault.scss */
.header_top .blocBarres {
  width: 50px;
  position: relative;
  z-index: 50;
  text-align: center;
  height: 35px;
  margin-top: 5px;
  padding-top: 2px;
  padding-right: 10px;
  border-right: 1px solid #fff;
  box-sizing: content-box;
}
/* line 25, ../sass/thibault.scss */
.header_top .blocBarres:hover {
  cursor: pointer;
}
/* line 27, ../sass/thibault.scss */
.header_top .blocBarres:hover .blocCharge.blocChargemiddle {
  width: 80%;
}
/* line 31, ../sass/thibault.scss */
.header_top .blocBarres .blocCharge {
  width: 80%;
  display: block;
  height: 5px;
  background: #fff;
  transition: all .2s linear;
  margin: 5px 10%;
  opacity: 1;
}
/* line 39, ../sass/thibault.scss */
.header_top .blocBarres .blocCharge:first-child {
  margin-top: 5px;
}
/* line 42, ../sass/thibault.scss */
.header_top .blocBarres .blocCharge.blocChargemiddle {
  width: 60%;
}
/* line 47, ../sass/thibault.scss */
.header_top .blocBarres.menuOuvert .blocCharge {
  opacity: 0;
  width: 80%;
}
/* line 50, ../sass/thibault.scss */
.header_top .blocBarres.menuOuvert .blocCharge:first-child {
  opacity: 1;
  transform: rotate(45deg);
  transform-origin: bottom left;
  margin: -1px 0 0;
}
/* line 56, ../sass/thibault.scss */
.header_top .blocBarres.menuOuvert .blocCharge:last-child {
  opacity: 1;
  transform: rotate(-45deg);
  transform-origin: top left;
  margin: 15px 0 0;
}
/* line 63, ../sass/thibault.scss */
.header_top .blocBarres.menuOuvert + nav.principal {
  opacity: 1;
  display: block;
}
/* line 66, ../sass/thibault.scss */
.header_top .blocBarres.menuOuvert + nav.principal ul li, .header_top .blocBarres.menuOuvert + nav.principal ul li > div {
  height: 11.1111111111111111111111111111111111111111111111111111111111111vh;
  background-color: rgba(0, 0, 0, 0.9);
  float: none !important;
  margin: 0;
  padding: 0;
}
/* line 72, ../sass/thibault.scss */
.header_top .blocBarres.menuOuvert + nav.principal ul li.search_box, .header_top .blocBarres.menuOuvert + nav.principal ul li > div.search_box {
  background: transparent;
}
/* line 75, ../sass/thibault.scss */
.header_top .blocBarres.menuOuvert + nav.principal ul li a, .header_top .blocBarres.menuOuvert + nav.principal ul li > div input, .header_top .blocBarres.menuOuvert + nav.principal ul li > div a, .header_top .blocBarres.menuOuvert + nav.principal ul li > div > div input {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 11.1111111111111111111111111111111111111111111111111111111111111vh;
  font-size: 5vh;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  color: #fff;
  background: transparent;
  float: none;
}

/* line 96, ../sass/thibault.scss */
nav.principal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  display: none;
  transition: all .2s linear;
}

/* line 107, ../sass/thibault.scss */
.logo {
  width: calc(100% - 61px);
  padding-left: 15px;
}
/* line 111, ../sass/thibault.scss */
.logo a {
  top: 5px !important;
}
/* line 114, ../sass/thibault.scss */
.logo img {
  max-width: 100%;
  max-height: 40px;
}
