{% extends "RTechUserBundle::layout.html.twig" %}

{% block rtech_user_content %}
    <div class="h1">Modifier mes informations</div>
    <div id="modification">
        {% include "RTechUserBundle:Profile:edit_content.html.twig" %}
    </div>
{% endblock rtech_user_content %}
