
{% extends "RTechAppBundle::layout.html.twig" %}

{% block body %}

    <div class="row">
        <div class="col s12">

        </div>
    </div>
    <div class="row">
        <div class="col s4">
            <div class="center promo promo-example">
                <i class="material-icons">flash_on</i>
                <p class="promo-caption">Développement accéléré</p>
                <p class="light center">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
            </div>
        </div>
        <div class="col s4">
            <div class="center promo promo-example">
                <i class="material-icons">group</i>
                <p class="promo-caption">Centré sur l'experience utilisateur</p>
                <p class="light center">By utilizing elements and principles of Material Design, we were able to create a framework that focuses on User Experience.</p>
            </div>
        </div>
        <div class="col s4">
            <div class="center promo promo-example">
                <i class="material-icons">settings</i>
                <p class="promo-caption">Facile à prendre en main</p>
                <p class="light center">We have provided detailed documentation as well as specific code examples to help new users get started.</p>
            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col s6">
            <div class="center promo promo-example">
                <i class="material-icons">flash_on</i>
                <p class="promo-caption">Développement accéléré</p>
                <p class="light center">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
            </div>
        </div>
        <div class="col s6">
            <div class="center promo promo-example">
                <i class="material-icons">group</i>
                <p class="promo-caption">Centré sur l'experience utilisateur</p>
                <p class="light center">By utilizing elements and principles of Material Design, we were able to create a framework that focuses on User Experience.</p>
            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col s6">
            <div class="center promo promo-example">
                <i class="material-icons">flash_on</i>
                <p class="promo-caption">Développement accéléré</p>
                <p class="light center">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
            </div>
        </div>
        <div class="col s6">
            <div class="center promo promo-example">
                <i class="material-icons">group</i>
                <p class="promo-caption">Centré sur l'experience utilisateur</p>
                <p class="light center">By utilizing elements and principles of Material Design, we were able to create a framework that focuses on User Experience.</p>
            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col s6">
            <div class="center promo promo-example">
                <i class="material-icons">flash_on</i>
                <p class="promo-caption">Développement accéléré</p>
                <p class="light center">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
            </div>
        </div>
        <div class="col s6">
            <div class="center promo promo-example">
                <i class="material-icons">group</i>
                <p class="promo-caption">Centré sur l'experience utilisateur</p>
                <p class="light center">By utilizing elements and principles of Material Design, we were able to create a framework that focuses on User Experience.</p>
            </div>
        </div>
    </div>
{% endblock  %}
