
{% extends "RTechAppBundle::layout.html.twig" %}

{% block body %}
<canvas id="sons"></canvas>
<div id="titrePrincipal"><div class="titre">Tout l'art <br />est dans le hasard</div></div>
<div class="contenu row">
    <div class="radioDirect">
        <div class="enDirect">En <br />direct</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel est sed nunc maximus aliquam nec rutrum orci.</p>
    </div>
    <div class="chaines">
        <a href="" class="esport">
            <div class="mask"></div>
            <p class="titreC">E-Sport</p>
        </a>
        <a href="" class="informatique">
            <div class="mask"></div>
            <p class="titreC">informatique</p>
        </a>
        <a href="" class="robotique">
            <div class="mask"></div>
            <p class="titreC">robotique</p>
        </a>
        <a href="" class="art">
            <div class="mask"></div>
            <p class="titreC">art</p>
        </a>
        <a href="" class="jeux">
            <div class="mask"></div>
            <p class="titreC">jeux</p>
        </a>
        <a href="" class="science">
            <div class="mask"></div>
            <p class="titreC">science</p>
        </a>
    </div>
    <div class="col-md-7 groupeSonUser">
        <div class="blocUser">
            <div class="personnes">
                <div class="blocUser">
                    <img src="" />
                    <div class="mask"></div>
                    <div class="over">
                        <div class="nom">
                            Talian
                        </div>
                        <div class="podcast">50 podcast</div>
                    </div>
                </div>
            </div>
            <div class="h1">Les uploaders de la semaine</div>
            <div class="col-md-10">
                <p>Vous devriez les écouter, ça en vaut la peine</p>
            </div>
        </div>
        <div class="blocSon">

        </div>
    </div>
    <div class="col-md-5 groupeSonUser">
        <div class="h1">Notre découverte</div>
        <div class="col-md-10">

        </div>
    </div>
</div>
{% endblock  %}
